<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2021-01-25T17:35:01Z</date>
	<key>WorkspacePath</key>
	<string>/Users/anton/Desktop/WeatherApp/WeatherApp.xcworkspace</string>
</dict>
</plist>
